@page "/"

<PageTitle>Admin</PageTitle>

<div class="hero bg-base-200 min-h-screen">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Zona pública</h1>
            <p class="py-6">
                Aquí estaría el contenido público de la aplicación
            </p>
            <NavLink href="/admin" class="btn btn-primary" activeClass="active">
                Get Started
            </NavLink>
        </div>
    </div>
</div>

@code {

}
